@{
    ViewBag.Title = "About";
}
<div class="text-background">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>Andrea has been cooking since she could walk. Eat her food.</p>
</div>
