@model IEnumerable<RecipeApp2.Models.RecipeAccessLayer>

@{
    ViewBag.Title = "Home Page";
}
<div id="index-text-background">
    <h2>Welcome to Andrea's Recipes!</h2>
    <p>Please share your recipes today!</p>
    <p>You can view or add recipes by clicking on the respective buttons above.</p>
</div>
